
@import url('https://fonts.googleapis.com/css?family=Abel|Girassol&display=swap');

 
 #stage {
    background-image: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
  }

  #stage .row {
    margin-top: 40px;
  }

  #stage li, main p, 
  content p, #school p {
    font-family: 'Abel';
    font-size: 2rem;
  }

  .header {
    border-bottom: 2px solid black;
  }

  li a {
    color: black;
    background-color: transparent;
  }

  h2 {
    display: inline;
    font-family: 'Girassol';
    font-weight: bold;
  }

  .logo {
    margin-top: -6px;
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/*           END OF NAV                    */
/*            MAIN                       */
  .main_text {
    margin-top: 140px;
  }

  h1, h3 {
    font-size: 42px;
    font-family: 'Girassol';
    font-weight: bold;
  }

  main a {
    width: 120px;
    height: 42px;
    font-family: 'Abel';
  }

  .btn {
    background-color: #00cc88;
    border: transparent;
  }

  Main .row, content .row, #school {
    height: 550px;
  }

  /*          CAROUSEL             */

  .carousel {
    margin-top: 150px;
  }

  @media(max-width: 768px)  {
    .carousel {
      display: unset;
    }
  }

/*                END OF MAIN          */
/*                BEGINNING OF CONTENT */

content .navbar {
  margin-top: 100px;
  border: 1px solid lightgray;
}

.tab-content {
  background-color: transparent;
  margin-top: 10px;
}

.pictures {
  margin-right: 25px;
  margin-left: 25px;
}

@media(max-width: 768px)  {
  content .navbar {
    display: unset;
  }
}

.portrait {
  border-radius: 2%;
}

/*            END OF CONTENT         */
/*            SCHOOL CONTENT         */

.school {
  border-radius: 2%;
}

.school_text {
  margin-top: 5%;
}