
@import url('https://fonts.googleapis.com/css?family=Abel|Girassol&display=swap');

 
 #stage {
    background-image: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
  }

  #stage .row {
    margin-top: 40px;
  }

  #stage li, 
  main p, 
  content p, 
  #school p,
  #threes p {
    font-family: 'Abel';
    font-size: 2rem;
  }

  .header {
    border-bottom: 2px dotted black;
  }

  li a {
    color: black;
    background-color: transparent;
  }

  h2 {
    display: inline;
    font-family: 'Girassol';
    font-weight: bold;
  }

  .logo {
    margin-top: -6px;
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/*           END OF NAV                    */
/*            MAIN                       */
  .main_text {
    margin-top: 140px;
  }

  h1, h3 {
    font-size: 42px;
    font-family: 'Girassol';
    font-weight: bold;
  }

  main a {
    width: 120px;
    height: 42px;
    font-family: 'Abel';
  }

  .btn {
    background-color: #00cc88;
    border: transparent;
  }

  Main .row, content .row, #school {
    height: 550px;
  }

  /*          CAROUSEL             */

  .carousel {
    margin-top: 150px;
  }

  @media(max-width: 768px)  {
    .carousel {
      display: unset;
    }
  }

/*                END OF MAIN          */
/*                BEGINNING OF CONTENT */

content .navbar {
  margin-top: 100px;
  border: 5px solid black;
  border-radius: 15px;
}

#content li {
  border-color: black;
}

.tab-content {
  background-color: transparent;
  margin-top: 10px;
}

.pictures {
  margin-right: 25px;
  margin-left: 25px;
}

@media(max-width: 768px)  {
  content .navbar {
    display: unset;
  }
}

.portrait {
  border-radius: 15px;
  border: black solid 5px;
}

/*            END OF CONTENT         */
/*            SCHOOL CONTENT         */

#school {
  background-image: url(../img/fresnostate.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-top: 50px;
  border: black solid 5px;
}

.school_text {
  background-color: #fff;
  border-radius: 15px;
}

/*              END OF SCHOOL                */
/*              FOOTER                       */

footer {
  margin-top:15px;
  height: 80px;
  border-top: 2px dotted black;
}

footer h4 {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  font-family: 'Abel';
}

/*                TOP THREES PAGE        */
/*                TOP THREES PAGE        */
/*                TOP THREES PAGE        */

.borders {
  border: solid 1px black;
  border-radius: 25px;
}

.top_pictures {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 10px;
}